html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

#root {
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  position: absolute;
  overflow: hidden;
  background-color: white;
}

.outer {
  height:100%;
  position:relative;
}

.inner {
  left:0px;
  top:30px;
  right:0px;
  bottom:0px;
  position:absolute;
}
